@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
    height: 100vh;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.conversation-item .avatar.online::before,
.conversation-item .avatar.offline::before{
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
    outline-width: 1px;
}
.conversation-item .avatar.offline::before{
    background-color: #eeeeeeee;
}


